<!DOCTYPE html>
<html lang="en">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html;" charset="UTF-8">
</head>
<body>
<p> th:text="'Hello,' + ${name} + '!'" />
<p>This project is a testament to the power and flexibility of the Java Spring Framework.
    It's my first venture into this robust framework, and I'm excited to share it with you.</p>
<img th:src="@{/vistula.png}" width="600" height="600" alt="Image showing a Vistula Logo"/>
</body>
</html>